<h1 class="form-title">Add Person Form</h1>

<div class="form-container">
  <form #personForm="ngForm">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="person.name"
      name="name"
      required
    />

    <label for="address">Address:</label>
    <input
      type="text"
      id="address"
      [(ngModel)]="person.address"
      name="address"
      required
    />

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="person.email"
      name="email"
      required
    /> 

    <label for="phone">Phone Number:</label>
    <input
      type="text"
      id="phone"
      [(ngModel)]="person.phoneNumber"
      name="phone"
      required
    />

    <div class="button-group">
      <button type="button" (click)="resetForm(personForm)">Reset</button>
      <button type="submit" (click)="addPerson()">Add Person</button>
    </div>
  </form>
</div>
